<div class="pf-page-section">
	<p>Thank you for your enquiry.</p>
	<p>From the information you have provided us we are unable to
		provide you with an instant quote online.</p>
	<p>However, if you would like to discuss your quotation and your
		specific requirements with one of our underwriters we can clarify your
		requirements and provide a quotation tailored to your specific needs.</p>
	<p>
		Please contact us on ${/broker/quoteTelephoneNumber} and quote the
		reference number <b>${/quotationNumber}</b> and we will be happy to
		help.
	</p>
</div>